


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#choice-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #575775 ;
    gap: 20px;
    height: 400px;
    width: 600px;
    
    
}



.card-converter {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: red;
    height: 350px;
    width: 250px;
    border-radius: 6px;
    transition: transform .3s ease;
    
}



.card-converter:hover {
    box-shadow: 2px 2px 5px white, -2px -2px 5px white ;
    transform: rotate(5deg)
    
}


.numberToWord {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    

}

label {
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=checkbox]    {
    display: none;
}

input:checked   .numberToWord {
    display: flex;

    
    
}

#goBackBtn {
    height: 2rem;
    width: 100px;
}



