


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#choice-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #575775 ;
    gap: 20px;
    height: 400px;
    width: 600px;
    
    
}



.card-converter {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #680035;
    height: 350px;
    width: 250px;
    border-radius: 6px;
    transition: transform .3s ease;
    font-size: 38px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




.card-converter:hover {
    box-shadow: 2px 2px 5px white,white ;
    background-color: white;
    transform: rotate(5deg)
    
    
}


#numberToWord {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
    gap: 2px;
    
    

}


label {
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=checkbox]    {
    display: none;
}



#reset {
    height: 2rem;
    width: 100px;
}

#ntf_userOutput, #decimal_formatter{
    display: none;
}


